@using Models.ViewModels;
@model CompanyReviewsVM

<div class="m-0 mb-3 p-2 border border-2 border-secondary bg-gradient bg-secondary bg-opacity-10" style="border-radius: 2px">
	<div class="border-bottom border-1">
		<h4 class="text-light-emphasis"><strong>@Model.Company.Name</strong></h4>
		@if(Model.Company.Rating == null)
		{
						<div class="text-danger">0.0</div>
		}
		@if (Model.Company.Rating < 2)
		{
			<div class="text-danger-emphasis">@Model.Company.Rating</div>
		}
		else if(Model.Company.Rating <= 4)
		{
			<div class="text-warning">@Model.Company.Rating</div>
		}
		else
		{
				<div class="text-info">@Model.Company.Rating</div>
		}
		<div class="text-secondary">Since @Model.Company.DateOfFoundation</div>

	</div>
	<p class="text-dark p-1">@Model.Company.Description</p>
</div>
<div class="mb-3 p-2 border border-2 border-secondary bg-gradient bg-light bg-opacity-10" style="border-radius: 2px">
	<h4 class="text-light-emphasis" >Відгуки:</h4>
	<div id="reviews">
	@foreach (var review in Model.Reviews)
	{
		<div class="d-flex m-2 p-2 border border-2 border-secondary bg-gradient bg-light bg-opacity-50">
			<div class="image m-1 border-dark" style=" border: 3px solid; position:relative; height:63px">
				   <img src="\Uploads\@review.User.ImagePath" width="60" height="60">
			</div>
			<div class="col-md-10">
				<h4 class="d-flex align-items-center mb-0 mt-0" style="font-size:18px">
                        @review.User.Name
                        @if(review.User.Role.ToString() != "User")
                        {
                                 <sup><span class=" bg-gradient text-white m-1 mb-0 mt-0" style="border-radius: 5px; font-size: 10px; background-color: goldenrod; position:relative; top:5px; padding:3px">
									 @review.User.Role.ToString()</span></sup>
                        }    
						<span class="text-secondary" style="font-size:16px">@review.RegDate.ToString().Substring(0,10)</span>
                </h4>
				<div>Оцінка: @review.Rate <span style="font-size: 20px; color:gold">★</span></div>
				<div class="m-0 p-0 text-dark">@Html.Raw(review.ReviewDesc)</div>
				

			</div>
			@if (User.IsInRole("Admin"))
			{
				<div class="col-md-2 d-flex align-items-center">
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-review-id="@review.Id">Видалити</button>
				</div>	
				<!-- Delete Confirm -->
				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<form id="deleteForm" method="post" asp-area="General" asp-controller="Review" asp-action="Delete">

							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Підтвердження</h5>
								@*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>*@
							</div>
							<div class="modal-body">
								Ви впевнені у видаленні даного відгуку?
									<input name="id" asp-for="@review.Id" hidden />				
							</div>
							<div class="modal-footer">
								<button id="closeBtn" type="button" class="btn btn-secondary " data-dismiss="modal">Закрити</button>
								<button type="submit" class="btn btn-danger">Видалити</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			}
			

		</div>
		@if(review.User.Id == Convert.ToInt32(User.FindFirst("Id")?.Value))
		{
			TempData["Rule"] = false;
		}
	}
	</div>
	@if (Model.Reviews.HasNextPage)
	{
		<div class="m-2 d-flex justify-content-center">
			<button class="btn btn-outline-primary" id="showMore" style="width:250px; height:50px; font-size:20px"><i class="bi bi-arrow-repeat"></i>Показати ще</button>
		</div>		
	}


</div>

<style>
	p{
		margin: 0;
		padding: 0;
	}
</style>
@{
	Review newRev = new Review
	{
		CompanyId = Model.Company.Id
	};
}
<div class="mt-1 p-2 border border-2 border-secondary bg-gradient bg-light bg-opacity-10" style="border-radius: 2px">
	<h4 class="text-light-emphasis">Залишити відгук:</h4>

	@if (User.Identity.IsAuthenticated & Convert.ToBoolean(TempData["Rule"]) == true)
	{
		<partial name="CreatePartial" model="newRev"/>
	}
	else if (Convert.ToBoolean(TempData["Rule"]) == false)
	{
		<h3 class="text-center">Дякуємо, що залишили відгук!</h3>
	}
	else
	{
		
		<div class="d-flex justify-content-center text-secondary-emphasis">
			Увійдіть до профілю або зареєструйтесь, щоб залишити вігдук
			
		</div>
		<div class="d-flex m-1 p-1 justify-content-center text-primary-emphasis">
			<a asp-area="General" asp-controller="Account" asp-action="Register">Зареєструватись</a>
			|
			<a asp-area="General" asp-controller="Account" asp-action="Login">Увійти</a>
		</div>
		

	}
</div>

@*<partial name="CreatePartial" model="newRev"/>*@

@section Scripts{
	@{
		<script>
							tinymce.init({
							  selector: 'textarea',
							  plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
							  toolbar: 'undo redo | blocks fontfamily | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
							});
		</script>
		<script>
			var pageIndex = 2;
			var companyId = @Model.Company.Id; 

			$('#showMore').click(function(){
				$.ajax({
					url: "/General/Review/GetMoreReviews?id=" + companyId + "&pageNumber=" + pageIndex, 
					success: function(data){
						$("#reviews").append(data);
						pageIndex++;
					}
				});
			});
		</script>
		<script>
		  $('#deleteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var reviewId = button.data('review-id');
			var modal = $(this);
			modal.find('input[name="id"]').val(reviewId);
		  });
		  $("#closeBtn").click(function(){
			  window.location.href = "";
		  })
		</script>
		
		<partial name="_ValidationScriptsPartial"/>
	}
}